body {
	background-color: white;
	color: black;
	font-size: 12px;
	font-family: verdana;	
}

h1 {
	color: #009999;
}

h2 {
	color: #009999;
	display: inline;
}

h3 {
	color: #009999;
	display: inline;
}

h4 {
	color: #009999;
	display: inline;
}

.mainDiv {
	width: 940px;
	margin-left: 10%;
	border: 2px solid black;
}

#monsterimg {
	width: 100%;
	border: 2px solid black;	
}

#upgradebox {
	display: none;
	border: 2px solid black;
}

#choose {
	display: none;
}

#assets {
	padding-top: 5px;
	padding-bottom: 10px;
}

#money {
  font-weight: bold;
}

#rep {
  font-weight: bold;
}

.avatar {
	border: 2px solid black;
}

.monsterstr {
	color: #009999;
	font-size: 14px;
}

.heroes {
	color: #009999;
	font-size: 14px;
}

.boosts {
	font-size: 14px;
	visibility: hidden;
}

.numhero {
	color: #009999;
	font-size: 14px;
	visibility: hidden;
}

.upmultiple{
	color: #009999;
	font-size: 12px;
	visibility:hidden;
}

.cost {
	color: black;
	font-size: 10px;
	visibility:hidden;
}

.power {
	color: black;
	font-size: 10px;
	visibility: hidden;
}

.storyButton {
	display: none;
}

.heroButton {
  display: none;
}

.rep {  
  width: 100%;
	color: grey;
	font-size: 10px;  
}

.fightmess {
	color: black;
	font-size: 12px;
}

.actionmess {
	color: #009999;
	font-size: 12px;
}

.bigbuttons {
	background-color: #0099FF;
	color: black;
	float: center;
	width: 200px;
	border: 2px solid black;
	outline: 2px;
	padding: 10px;
	transition: 0.3s;
	font-size: 28px;	
	margin: 3px 3px 3px 3px;
}

.medbuttons {
	background-color: #0099FF;
	color: black;
	float: center;
	width: 100px;
	border: 2px solid black;
	outline: 2px;
	padding: 8px;
	transition: 0.3s;
	font-size: 20px;	
	margin: 3px 3px 3px 3px;
}

.smbuttons {
	background-color: #FFFFFF;
	color: black;
	float: center;
	width: 70px;
	border: 2px solid black;
	outline: 2px;
	padding: 5px;
	transition: 0.3s;
	font-size: 12px;	
	margin: 3px 3px 3px 3px;
}

.heroimage {
	float: center;
	border: 2px solid black;
  display: none;
}

.heroimage img {
  width: 95%;
}

.heros {
	color: #009900;
	font-size: 14px;
}

/* .herobuttons {
	background-color: #0099FF;
	color: black;
	float: center;
	width: 35px;
	border: 2px solid black;
	outline: 2px;
	padding: 5px;
	font-size: 20px;	
} */



button.hover{
	background-color: #0099FF;
	color: white;	
}

button.active{
	background-color: #009999;
	color: black;
}



#myProgress {
		width: 100%;
		background-color: white;
		border: 2px solid black;
}

#monsterbar {
    width: 1%;
    height: 30px;
    background-color: red;
}

#powerbar {
    width: 1%;
    height: 30px;
    background-color: red;
}

#instructions {
    width:100%;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid black;
		color: #009999;
		font-size: 12px;
}

#click {
	width: 80%;
}

/* Overlay for Upgrades */
.overlay {
    height: 0%;
    width: 45%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(200,200,200, 1.0);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 26px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color: #009999;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* End Overlay for Upgrades*/


/* Overlay for Hero Story */
.storyBox {
    height: 0%;  	/* height when open is found in the openStory() function */	
		width: 30%;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 30%;
    background-color: rgba(230,230,230, 1.0);
    overflow-y: hidden;
    transition: 0.5s;
}


.storyBox-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: left;
		margin-top: 20px;
}

.storyBox a {
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

 a.storyBox:hover, a.storyBox:focus {
    color: #f6f6f6;
}

.storyBox .closebtn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
}

@media screen and (max-height: 450px) {
  .storyBox {overflow-y: auto;}
  .storyBox a {font-size: 20px}
  .storyBox .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* End Overlay for Hero Story*/


 /* Container for Click Here and Attack Message */
.container {
    position: relative;
}

/* Action Message text */
.text-block {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
} 
