body {
	background-color: white;
	color: black;
	font-size: 12px;
	font-family: verdana;	
}

h1 {
	color: #009999;
}
h2 {
	color: #009999;
	display: inline;
}
h3 {
	color: #009999;
	display: inline;
}
h4 {
	color: #009999;
	display: inline;
}

.main {
	width: 1000px;
	border: 2px solid black;
  overflow: hidden;
}
#leftSide {
  width: 250px;
  float: left;
}
#rightSide {
  float: right;
}


/* Heroes */
.row {
  display: flex;
  justify-content: space-around;
}
.herobox {
  position: relative;
  width: 240px;
  height: 120px;
  border: 2px solid black;
  margin: 0 0 5px 5px;
}
.heroname {
  display: inline-block;
  padding: 1px 0 0 4px;
  font-size: 1.4em;
	color: #009999;
}
.heroimage {
  position: absolute;
  left: -1px;
  bottom: -1px;
  width: 80px;
  height: 96px;
	border: 2px solid black;
  display: none;
}
.herostats {
  position: absolute;
  width: 145px;
  right: 6px;
  top: 22px;
}
.storyButton {
	display: none;
  margin: 0 0 5px 0;
}
.boosts {
	font-size: 1.1em;
	visibility: hidden;
}
.numhero {
	color: #009999;
	font-size: 1.2em;
	visibility: hidden;
}
.upmultiple{
	color: #009999;
	font-size: 1em;
	visibility:hidden;
}
.cost {
	color: black;
	font-size: 1em;
	visibility:hidden;
}
.power {
	color: black;
	font-size: 1em;
	visibility: hidden;
}
.heroButton {
  display: none;
  margin: 3px 0 0 0;
}
.repneeded {
  margin: 5px 0 0 4px;
}


/* Stats & Instructions*/
#stats {
	padding-top: 5px;
	padding-bottom: 10px; 
  width: fit-content;
}
#money {
  font-size: 1.5em;
  font-weight: bold;
}
#rep {
  font-size: 1.5em;
  font-weight: bold;
}
#instructions {
  width:100%;
  margin-top: 5px;
  padding: 5px;
  font-size: 1.2em;
}



/* Monster */
#monsterbox {
  width: 100%;
}
#monsterimg {
	width: 250px;
  height: 358px;
	border: 2px solid black;	
}
#hptitle {
  display: block;
  float: left;
	color: #009999;  
	font-size: 1.2em;
}
.hpnum {
  display: block;
  float: right;
	color: #009999;
	font-size: 1.2em;
}
#myProgress {
  width: 100%;
  background-color: white;
  border: 2px solid black;
}
#monsterbar {
  width: 1%;
  height: 20px;
  background-color: red;
}

/* Lower-Right */
#lower-right {
  width: 100%;
  padding: 5px;
  overflow: hidden;
}

/* Player */
#player {
  width: 80px;
  float: left;
}
#charImage {
  width: 80px;
  height: 138px;
  border: 2px solid black;
}

/* Attack & Upgrade button */
#misc {
  position: relative;
  width: 150px;
  height: 60px;
  float: left;
  margin-left: 10px;
}
.text-block {
  position: absolute;
  top: 0px;
  left: 0px;
} 
.actionmess {
	color: #009999;
	font-size: 1.1em;
}






#upgradebox {
	display: none;
	border: 2px solid black;
}

#choose {
	display: none;
}

#powerbar {
  width: 1%;
  height: 30px;
  background-color: red;
}
#click {
width: 80%;
}

.avatar {
	border: 2px solid black;
}

.fightmess {
	color: black;
	font-size: 12px;
}



 /* Container for Click Here and Attack Message */
 .container {
  position: relative;
}




/* Buttons */
.bigbuttons {
	background-color: #0099FF;
	color: black;
	float: center;
	width: 140px;
	border: 2px solid black;
	outline: 2px;
	padding: 10px;
	transition: 0.3s;
	font-size: 28px;	
	margin: 3px 3px 3px 3px;
}
.medbuttons {
	background-color: #0099FF;
	color: black;
	float: center;
	width: 100px;
	border: 2px solid black;
	outline: 2px;
	padding: 8px;
	transition: 0.3s;
	font-size: 20px;	
	margin: 3px 3px 3px 3px;
}
.smbuttons {
	background-color: #FFFFFF;
	color: black;
	float: center;
	width: 70px;
	border: 2px solid black;
	outline: 2px;
	padding: 5px;
	transition: 0.3s;
	font-size: 12px;	
	margin: 3px 3px 3px 3px;
}
button.hover{
	background-color: #0099FF;
	color: white;	
}
button.active{
	background-color: #009999;
	color: black;
}



/* Overlay for Upgrades */
.overlay {
    height: 0%;
    width: 45%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(200,200,200, 1.0);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 26px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color: #009999;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* End Overlay for Upgrades*/



/* Overlay for Hero Story */
.storyBox {
    height: 0%;  	/* height when open is found in the openStory() function */	
		width: 30%;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 30%;
    background-color: rgba(230,230,230, 1.0);
    overflow-y: hidden;
    transition: 0.5s;
}


.storyBox-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: left;
		margin-top: 20px;
}

.storyBox a {
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

 a.storyBox:hover, a.storyBox:focus {
    color: #f6f6f6;
}

.storyBox .closebtn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
}

@media screen and (max-height: 450px) {
  .storyBox {overflow-y: auto;}
  .storyBox a {font-size: 20px}
  .storyBox .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* End Overlay for Hero Story*/

